.footer-overwrite
{
    margin-left: 13% !important;
    margin-right: 13% !important;
    box-shadow: #000000;
}

.text-align-overwrite { text-align: justify; }
img { max-width: 100%; max-height: 100%; }

.form-row
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-right: 5px;
}

.form-row > col, .form-row > [class="col"]
{
    padding-left: 5px;
    padding-right: 5px;
}

.tr { padding-right: 50px !important; }

.navbar-inverse{
    background-color: #DDDDDD !important;
    border-color: #F7F7F7 !important;
}

body{
    background-image: url("/images/bg2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container-overwrite{
    margin-top: 20px;
    background-color: #F7F7F7;
}